/*
font-family: 'Poiret One', cursive;
font-family: 'Gaegu', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Cookie', cursive;
font-family: 'Black Han Sans', sans-serif;
font-family: 'Cute Font', cursive;
*/

.parentBox1 {
  width: 95%;
}

.paddedRight{
  padding-right: 5%;
}
.paddedLeft{
  padding-left: 2%;
}


.borderRight{
  border-right: 2%;
}


.pageParent {
  background-image: url(../images/bckImg.jpg);
  padding: 1%;
  border: 2%;
  border: 3px grey solid;
  border-radius: 0 0 2% 2%;

}



.centeredGrey h1 {
  font-family: 'Black Han Sans', sans-serif;
8
}

.centeredGrey h2 {
  color: darkgrey;
  font-family: 'Cookie', cursive;

}

#countrySelect {
  font-family: 'Gaegu', cursive;
}

#output {
  background-color: grey;
  font-family: 'Russo One', sans-serif;
  text-align: center;
}



#tempOut {
  font-family: 'Russo One', sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
}
#humOut {
  font-family: 'Russo One', sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
}
#precipOut {
  font-family: 'Russo One', sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
}
.fontSizeSet {
  font-family: 'Russo One', sans-serif;
  font-size: 20px;
}

#smartSelect {
  background-size: cover;
  width: 100%;
  height: 300px;
}


 #weatherGlifficon {
   background-size: 60px;
   background-repeat:no-repeat;
   height: 80px;
   width: 80px;
   padding: 1%;
}

#humiGlifficon {
  background-size: 60px;
  background-repeat:no-repeat;
  height: 80px;
  width: 80px;
  padding: 1%;
}

#precipGlifficon {
  background-size: 60px;
  background-repeat:no-repeat;
  height: 80px;
  width: 80px;
  padding: 1%;

}
.dateTime {
  background-color: lightgrey;
  font-size: 22px;
}
#loc {
  float: right;
}

.smallImage {
  background-color: grey;
  width: 40px;
  height: 40px;
}


.noWrap {
  white-space: nowrap;
      overflow: hidden;
text-overflow: ellipsis;
}

.myCal {
  display: none;
  background-color: grey;
}
